In [46]:
import pandas as pd

In [53]:
player_per_game = pd.read_csv("data/PlayerPerGame.csv")
player_per_game = player_per_game[player_per_game['season'] > 1975]
player_per_game = player_per_game[player_per_game['experience'] == 1]
duplicated_players_mask = player_per_game.duplicated(subset='player', keep=False)
player_per_game = player_per_game[~duplicated_players_mask]
columns_to_drop = ['birth_year', 'seas_id', 'lg', 'g', 'gs']
player_per_game = player_per_game.drop(columns=columns_to_drop)

In [54]:
player_totals = pd.read_csv("data/PlayerTotals.csv")
player_totals = player_totals[player_totals['season'] > 1975]
player_totals = player_totals[player_totals['experience'] == 1]
duplicated_players_mask = player_totals.duplicated(subset='player', keep=False)
player_totals = player_totals[~duplicated_players_mask]
columns_to_drop = ['birth_year', 'seas_id', 'lg', 'g', 'gs', 'ft_percent', 'player', 'age', 'experience', 'season', 'tm', 'pos']
player_totals = player_totals.drop(columns=columns_to_drop)

In [55]:
player_stats = pd.merge(player_per_game, player_totals, on='player_id', suffixes=('_df1', '_df2'))

print(player_stats)

      season  player_id          player pos   age  experience   tm  \
0       2024       5109    Adam Flagler  SG  24.0           1  OKC
1       2024       5110    Adama Sanogo  PF  21.0           1  CHI
2       2024       5111      Alex Fudge  SF  20.0           1  LAL
3       2024       5112    Amari Bailey  PG  19.0           1  CHO
4       2024       5113   Amen Thompson  SF  21.0           1  HOU
...      ...        ...             ...  ..   ...         ...  ...
3296    1976       1687     Tom Boswell  PF  22.0           1  BOS
3297    1976       1688       Tom Kropp  SG  22.0           1  WSB
3298    1976       1689    Tom McMillen   C  23.0           1  BUF
3299    1976       1690  Wilbur Holland  SG  24.0           1  ATL
3300    1976       1691   World B. Free  SG  22.0           1  PHI

      mp_per_game  fg_per_game  fga_per_game  ...  fta   orb    drb    trb  \
0             6.0          0.0           3.0  ...    0   0.0    0.0    0.0
1             3.7          1.0           1.0  ...    3   2.0    4.0    6.0
2             3.5          0.3           1.5  ...    2   2.0    0.0    2.0
3             5.0          0.7           2.3  ...    2   2.0    0.0    2.0
4            19.5          3.1           6.3  ...   84  73.0  153.0  226.0
...           ...          ...           ...  ...  ...   ...    ...    ...
3296          7.9          1.2           2.7  ...   24  26.0   45.0   71.0
3297          2.9          0.3           1.2  ...    6   5.0   10.0   15.0
3298         14.2          1.9           4.4  ...   54  64.0  122.0  186.0
3299         10.6          2.6           6.5  ...   34  15.0   26.0   41.0
3300         15.8          3.4           7.5  ...  186  64.0   61.0  125.0

      ast   stl   blk   tov   pf  pts
0       1   0.0   0.0   0.0    0    0
1       0   0.0   0.0   1.0    0    8
2       0   0.0   0.0   1.0    1    4
3       1   0.0   0.0   1.0    0    5
4      93  46.0  24.0  60.0   91  310
...   ...   ...   ...   ...  ...  ...
3296   16   2.0   1.0   NaN   70   96
3297    8   2.0   0.0   NaN   20   19
3298   69   7.0   6.0   NaN   87  233
3299   26  20.0   2.0   NaN   48  192
3300  104  37.0   6.0   NaN  107  590

[3301 rows x 52 columns]

In [50]:
team_summary = pd.read_csv("data/TeamSummaries.csv")
team_summary = team_summary[team_summary['season'] > 1975]
selected_columns = ['abbreviation', 'season', 'playoffs', 'w', 'l']
team_summary = team_summary.loc[:, selected_columns]
team_summary.rename(columns={'abbreviation': 'tm'}, inplace=True)
print(team_summary)

       tm  season  playoffs     w     l
0     ATL    2024     False  26.0  33.0
1     BOS    2024     False  46.0  12.0
2     BRK    2024     False  23.0  36.0
3     CHI    2024     False  28.0  31.0
4     CHO    2024     False  15.0  44.0
...   ...     ...       ...   ...   ...
1392  UTS    1976     False   4.0  12.0
1393  VIR    1976     False  15.0  68.0
1394  WSB    1976      True  48.0  34.0
1395  NaN    1976     False   NaN   NaN
1396  NaN    1976     False   NaN   NaN

[1397 rows x 5 columns]

In [52]:
df = player_stats.merge(team_summary, on=['tm', 'season'], how='left')
player_stats = df[df['player_id'] == 5201]
print(player_stats)
print(df)

    season  player_id             player pos   age  experience   tm  \
88    2024       5201  Victor Wembanyama   C  20.0           1  SAS

    mp_per_game  fg_per_game  fga_per_game  ...    trb  ast   stl    blk  \
88         28.7          7.6          16.2  ...  551.0  183  71.0  180.0

      tov   pf   pts  playoffs     w     l
88  185.0  117  1119     False  12.0  48.0

[1 rows x 55 columns]
      season  player_id          player pos   age  experience   tm  \
0       2024       5109    Adam Flagler  SG  24.0           1  OKC
1       2024       5110    Adama Sanogo  PF  21.0           1  CHI
2       2024       5111      Alex Fudge  SF  20.0           1  LAL
3       2024       5112    Amari Bailey  PG  19.0           1  CHO
4       2024       5113   Amen Thompson  SF  21.0           1  HOU
...      ...        ...             ...  ..   ...         ...  ...
3296    1976       1687     Tom Boswell  PF  22.0           1  BOS
3297    1976       1688       Tom Kropp  SG  22.0           1  WSB
3298    1976       1689    Tom McMillen   C  23.0           1  BUF
3299    1976       1690  Wilbur Holland  SG  24.0           1  ATL
3300    1976       1691   World B. Free  SG  22.0           1  PHI

      mp_per_game  fg_per_game  fga_per_game  ...    trb  ast   stl   blk  \
0             6.0          0.0           3.0  ...    0.0    1   0.0   0.0
1             3.7          1.0           1.0  ...    6.0    0   0.0   0.0
2             3.5          0.3           1.5  ...    2.0    0   0.0   0.0
3             5.0          0.7           2.3  ...    2.0    1   0.0   0.0
4            19.5          3.1           6.3  ...  226.0   93  46.0  24.0
...           ...          ...           ...  ...    ...  ...   ...   ...
3296          7.9          1.2           2.7  ...   71.0   16   2.0   1.0
3297          2.9          0.3           1.2  ...   15.0    8   2.0   0.0
3298         14.2          1.9           4.4  ...  186.0   69   7.0   6.0
3299         10.6          2.6           6.5  ...   41.0   26  20.0   2.0
3300         15.8          3.4           7.5  ...  125.0  104  37.0   6.0

       tov   pf  pts  playoffs     w     l
0      0.0    0    0     False  41.0  18.0
1      1.0    0    8     False  28.0  31.0
2      1.0    1    4     False  33.0  28.0
3      1.0    0    5     False  15.0  44.0
4     60.0   91  310     False  25.0  34.0
...    ...  ...  ...       ...   ...   ...
3296   NaN   70   96      True  54.0  28.0
3297   NaN   20   19      True  48.0  34.0
3298   NaN   87  233      True  46.0  36.0
3299   NaN   48  192     False  29.0  53.0
3300   NaN  107  590      True  46.0  36.0

[3301 rows x 55 columns]